<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="xamarinios10" />
  <package id="Refractored.MvvmHelpers" version="1.3.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.0.3" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />
  <package id="Xamarin.SDWebImage" version="3.7.5" targetFramework="xamarinios10" />
</packages>